{% extends "journal/base.html" %}
{% load static %}

{% block content %}
    <div id="progress-container"><div id="progress-bar"></div></div>

    <div class="article-wrap">
        <a href="/" class="btn-back"><i class="fa-solid fa-arrow-left"></i> RETOUR</a>

        <header class="article-header" style="margin-top: 30px;">
            <span class="category-tag">{{ article.category.name }}</span>
            <h1>{{ article.title }}</h1>
            <div class="meta-info">...</div>
        </header>

        <div class="article-body">
            {{ article.content|linebreaks }}
        </div>


    </div>


    <script>
        // Optimisation de la barre de progression (Throttle pour performance)
        let ticking = false;
        window.addEventListener('scroll', function() {
            if (!ticking) {
                window.requestAnimationFrame(function() {
                    let winScroll = document.body.scrollTop || document.documentElement.scrollTop;
                    let height = document.documentElement.scrollHeight - document.documentElement.clientHeight;
                    let scrolled = (winScroll / height) * 100;
                    document.getElementById("progress-bar").style.width = scrolled + "%";
                    ticking = false;
                });
                ticking = true;
            }
        });
    </script>

{% endblock %}
